@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-splash-50 text-slate-900 antialiased;
    font-family: var(--font-inter), system-ui, sans-serif;
  }

  * {
    @apply border-slate-200;
  }
}
